<configuration>
<system.webServer>
      <handlers>
        <add name="iisnode" path="public/server.ts" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
          <rule name="DynamicContent">
            <match url="/*" />
            <action type="Rewrite" url="server.ts"/>
          </rule>
        </rules>
      </rewrite>
</system.webServer>
</configuration> 