@import "../../css/colors.css";

/* Styles the ClueFrame container component. */
.clue-frame {
  position: absolute;
  width: 94%;
  height: 700px;
  left: 3%;
  top: 85px;

  background: var(--primary-color);
  border-radius: 25px;
}

/* Container for the clue list */
.clue-list {
  position: absolute;
  box-sizing: border-box;
  padding: 25px;
  left: 0%;
  top: 0%;
  width: 40%;
  height: 90%;
  overflow-y: scroll;
}

/* Positioning for the table itself */
.clue-table {
  position: absolute;
  width: calc(100% - 50px);
}

/* Indicates that a table cell is currently selected */
.selected {
  background: var(--accent-color);
  color: var(--bg-color);
}

/* Container for the clue map */
.clue-map {
  position: absolute;
  box-sizing: border-box;
  padding: 25px;
  left: 40%;
  top: 0%;
  right: 0%;
  height: 100%;
}

.clue-delete {
  position: absolute;
  left: 5%;
  top: 92%;
  width: 30%;
  height: 6%;
}
