/* Dark Theme Colors */

:root {
  --bg-color: #121212;
  --primary-color: #232323;
  --secondary-color: #a85858;
  --font-color: #f9f9f9;
  --accent-color: #a85858;
}

/* Light Theme Colors */

[data-theme="light"] {
  --bg-color: #ededed;
  --primary-color: #aaaaaa;
  --secondary-color: #a85858;
  --font-color: #070707;
  --accent-color: #f36464;
}
