@import "./colors.css";

/* Styles the GroupFrame container component. */
.group-frame {
  position: absolute;
  height: 600px;
  left: 51.5%;
  right: 3%;
  top: 825px;

  background: var(--primary-color);
  border-radius: 25px;
}

/* Positioning for the wrapper div holding the table of Groups */
.table-div {
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  height: 475px;
  overflow-y: scroll;
}

/* Positioning for the table itself */
.group-table {
  position: absolute;
  margin: 25px;
  margin-top: 0px;
  width: calc(100% - 50px);
}

/* Indicates that a table cell is currently selected */
.selected {
  background: var(--accent-color);
  color: var(--bg-color);
}

/* Positioning for the add and remove group buttons */
.group-button {
  position: absolute;
  width: 30%;
  top: 530px;
  height: 50px;
  line-height: 50px;
}

/* Positioning for the add group button */
.add-group {
  left: 1.5%;
}

/* Positioning for the remove group button */
.remove-group {
  left: 34.5%;
}

.assign-path {
  left: 67.5%;
}
