@import "../css/colors.css";

/* Formatting for the main container on the path page */
.path-page-container {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: var(--primary-color);
}

/* A container to hold the list of clues and buttons */
.path-info-container {
    position: absolute;
    box-sizing: border-box;
    width: 35%;
    height: 100%;
}

/* A container to hold the map of clues */
.path-map-container {
    position: absolute;
    width: 65%;
    height: 100%;
    left: 35%;
    box-sizing: border-box;
    padding: 2.5%;
}

/* Formatting for the exit button */
.exit {
    position: absolute;
    width: 80%;
    height: 10%;
    left: 10%;
    top: 85%;
}

/* Positioning for the table itself */
.clue-table {
    position: absolute;
    width: calc(100% - 50px);
    margin: 25px;
  }

/* Indicates that a table cell is currently selected */
.selected {
    background: var(--accent-color);
    color: var(--bg-color);
  }