@import "../css/colors.css";

/* Styling for a div to darken everything behind the popup */
.popup-bg {
  position: fixed;
  display: block;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 20;
  background-color: #000000;
  opacity: 0.5;
}

/* Styling for the popup box */

.popup {
  position: fixed;
  display: block;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 25%;
  z-index: 25;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* A class to hide the pop up box when not in use */

.hidden {
  display: none;
}

/* Styling for the okay button in the confirm popup */

.okay {
  position: absolute;
  width: 45.5%;
  left: 3%;
  bottom: 25px;
  height: 50px;
  line-height: 50px;
}

/* Styling for the cancel button in the confirm popup */

.cancel {
  position: absolute;
  width: 45.5%;
  left: 51.5%;
  bottom: 25px;
  height: 50px;
  line-height: 50px;
}

/* Styling for the button in the notif popup */

.notif {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 25px;
  height: 50px;
  line-height: 50px;
}

/* Styling for the text input box in the input popup */

#input {
  width: 94%;
  bottom: 100px;
  height: 50px;
  left: 3%;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-color: var(--accent-color);
  font: inherit;
  padding-left: 10px;
}

/* Styling for the div containing buttons and input fields in the popup */

.popup-button {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 50%;
}

/* Styling for the div containing the message in the popup */

.popup-text {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  padding: 25px;
  box-sizing: border-box;
}
